__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.git
.gitignore
.vscode
.idea
*.ipynb_checkpoints
codes/

__pycache__/
.venv/
.env
.git/
.gitignore
.DS_Store
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.ipynb_checkpoints/
codes/


